<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Car to the inventory!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/cars" method="post">
      <label for="year">Year</label>
      <input id="year" name="year" type="number">
      <label for="make">Make</label>
      <input id="make" name="make" type="text">
      <label for="model">Model</label>
      <input id="model" name="model" type="text">
      <label for="miles">Miles</label>
      <input id="miles" name="miles" type="number">
      <label for="price">Price</label>
      <input id="price" name="price" type="number">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>